name: Create the document

on:
  push:
    branches: [ master ]

jobs:
  dependencies:
# Name of the jobs
    name: Compilation Document
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]
    steps:
    # This action allow me to access to the content of this repo
      - uses: actions/checkout@v2
      # Setup Python env
      - name: Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup variables
        shell: bash
        run: echo ::set-env name=repo_name::$(echo ${{ github.repository }} | cut -d/ -f2)
      - name: Download and install pandoc
        run: |
          wget https://github.com/jgm/pandoc/releases/download/2.9.1.1/pandoc-2.9.1.1-1-amd64.deb
          sudo dpkg -i pandoc-2.9.1.1-1-amd64.deb
          rm pandoc-2.9.1.1-1-amd64.deb
      - name: Install python filters for pandoc
        run: |
          python -m pip install --upgrade pip
          pip install -r .assets/requirements.txt
      - name: Convert .bib to .json
        run: pandoc-citeproc --bib2json ref_interaction_inference.bib > references.json
      - name: Cleanup the bibliography
        run: python .assets/scripts/bibliography.py
      - name: Prepare the output
        run: |
          mkdir -p rendered
          cp -r figures rendered/
          cp references.json rendered/
      - name: Install additionnal fonts
        run: |
          wget --no-check-certificate https://github.com/stipub/stixfonts/archive/master.zip
          unzip master.zip
          mkdir -p rendered/fonts
          mv stixfonts-master/OTF/*.otf rendered/fonts/
          rm -Rf stixfonts-master/
      - name: Build the tex file
        run: |
          pandoc thanks_glossary_math.md -s -o rendered/thanks_glossary_math.tex --template=.assets/templates/raw.tex
          python .assets/scripts/longtablealign.py
          pandoc manuscript.md -s -o rendered/${{ env.repo_name }}.tex --include-before-body=rendered/thanks_glossary_math.tex --filter pandoc-xnos --bibliography=references.json --metadata-file=metadata.json --template=.assets/templates/template.tex
          python .assets/scripts/longtablefix.py
      - name: Create the website
        run: |
          pandoc thanks_glossary_math.md manuscript.md -o rendered/index.html --filter pandoc-xnos --template=.assets/templates/template.html --bibliography=references.json --metadata-file=metadata.json --webtex
          mkdir rendered/css/
          cp .assets/templates/style.less rendered/css/
      - name: Build Word document
        run: pandoc thanks_glossary_math.md manuscript.md -s -o rendered/${{ env.repo_name }}.docx --filter pandoc-xnos --bibliography=references.json --metadata-file=metadata.json
      - name: Build the pdf
        uses: xu-cheng/latex-action@master
        with:
          working_directory: rendered
          root_file: ${{ env.repo_name }}.tex
          args: "-f -interaction=nonstopmode --file-line-error -lualatex"
      - name: Save artifacts
        if: always()
        uses: actions/upload-artifact@master
        with:
          name: ${{ env.repo_name }}
          path: rendered
      - name: Github Pages Deployment
        if: always()
        uses: maxheld83/ghpages@v0.2.1
        env:
          BUILD_DIR: "rendered/"
          GH_PAT: ${{ secrets.ACCESS_TOKEN }}